h2{
    color: #E91843 ;
    background-color: rgb(162,240,250);
}
button{
    color:darkmagenta;
    background-color: paleturquoise;
}
p{
    color: Indigo;
    background-color: BlanchedAlmond;
}
body{
    background-color: #169145;
}