body {
  background-color: #f8edeb;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(135, 214, 228);
  border: 2px solid darkcyan;
  border-radius: 10px;
  width: 1000px;
}
ol {
  background-color: #d8e2dc;
  width: 250px;
}
h2 {
  font-weight: 600;
  text-decoration: underline;
}
table,
th,
td {
  border: 2px solid brown;
  background-color: #e8e8e4;
}
ul {
  list-style-type: square;
  font-size: 18px;
}
li {
  font-size: 18px;
}
a {
  color: #e63946;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
* {
  color: #1d3557;
}
